body {
	padding: 0;
	margin: 0;
}

h1,h2,h3, p {
		font-family: 'Oswald', sans-serif;
}

a, a:hover, a:link, a:visited, a:active {
	color: #fff;
}

header {
	background: url(./img/background.png) center;

}

.nav, .navbar{
	background: #fff;
	_opacity: 0.95;
	padding: 0;
	border: 0;
	margin:0;
}


.logo {
	margin-top:0.7em;
	width: 45%;

}

.telefone {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	-font-weight: bold;
	_margin-top: 6px;
	background: #000;
	padding: 15px;
	color: #fff;
}

.slide {
	top: 130px;
	position: relative;
	height: 22em;
	width: 100%;
	margin:0;
	padding: 0;
	
}

.estado {
	color: #fff!important;
	font-size: 2em!important;
	font-family: 'Oswald', sans-serif;
	_font-weight: bold;
	text-align: right;
	top: 15px;
	text-transform: uppercase;
}
.cidade {
	color: #fff;	
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	_font-weight: bold;
	margin: 0px;
	text-transform: uppercase;
}

.titulo {
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
}

.servico {
	margin-top: 35px;
	margin-bottom: 35px;
}

p {
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 25px;
}

.destaque {
	margin-top: 50px;
}

.destaque p {
	font-size: 1.7em;
	margin-top: 15px;
}


.endereco {
	margin:0;
	width: 100%;
	_height: 460px;
	padding: 5px 0 5px 0;
	background: #f6f6f6;
	margin-bottom: 15px;
	border: 0;
}

img {
	border: 0;
}
.mapa {
	height: auto;
}

.parceiro p {
	font-family: Verdana;
	font-size: 1.1em;
}

footer {
	background: #000;
	padding: 15px;	
}

.footer {
	color: #fff;
}

.telefone-footer {
	text-align: right;
}

.endereco-footer {
	text-align: left;
}

@media screen and (max-width: 768px) {
 .logo {
	margin:0.9em;
	width: 100%;
    font-size: 1.2em;
	text-decoration: none;
}
}

@media screen and (max-width: 1024px) {
 .logo {
	margin:0.9em;
	width: 60%;
    font-size: 1.2em;
	text-decoration: none;
}


.estado {
	text-align: center;	
	margin-bottom: 25px;
	font-size: 1.2em!important;
}

.cidade {
	text-align: center;	
	margin-bottom: 25px;
	font-size: 1em;
}

.telefone-footer {
	text-align: center;
}

.endereco-footer {
	text-align: center;
	margin-bottom: 15px;
}
}

